#solar-system{
  height: 100%;
  width: 100%;
  background: black;
  position: relative;
}

#sun {
  background: yellow;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  top: calc(calc(50%) - 10px);
  left: calc(calc(50%) - 10px);
}

.planet {
  position: absolute;
  height: 30px;
  width: 30px;
  background: blue;
  border-radius: 50%;
}